* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #14120b;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.card {
    background-color: #1b1913;
    border-radius: 4px;
    padding: 16px;
    width: 320px;
    min-height: 600px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-top {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    color: #edecec;
    margin-bottom: 16px;
}

.card-price {
    font-size: 20px;
    color: rgba(237, 236, 236, 0.6);
    display: inline-flex;
    align-items: baseline
}

.card-price-amount {
    font-size: 22px;
    font-weight: 400;
    color: rgba(237, 236, 236, 0.6);
}

.card-price-period {
    font-size: 14px;
    color: rgba(237, 236, 236, 0.6);
}

.includes-text {
    font-size: 16px;
    color: rgba(237, 236, 236, 0.6);
    margin: 16px 0px;
}

.features-list {
    list-style: none;
    padding: 0;
}

.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 16px;
    color: #edecec;
}

.checkmark {
    color: #edecec;
    font-size: 14px;
    margin-right: 10px;
    font-weight: regular;
}

.download-button {
    width: fit-content;
    background-color: #26241e;
    border: none;
    border-radius: 999px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #edecec;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.download-button:hover {
    background-color: #36342e;
}

.download-button:active {
    background-color: #36342e;
}
